<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>452628383510-57hmrnhcbn3nvleeu104dt2n1hhrea9q.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.452628383510-57hmrnhcbn3nvleeu104dt2n1hhrea9q</string>
	<key>API_KEY</key>
	<string>AIzaSyBsqHjpKXq84GmCc8LqqjvkUZAcMXmE59g</string>
	<key>GCM_SENDER_ID</key>
	<string>452628383510</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.khouvtannhuot.InstagramCopy</string>
	<key>PROJECT_ID</key>
	<string>instagramcopy-f73bf</string>
	<key>STORAGE_BUCKET</key>
	<string>instagramcopy-f73bf.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:452628383510:ios:77d94ab91b132ecd067237</string>
	<key>DATABASE_URL</key>
	<string>https://instagramcopy-f73bf.firebaseio.com</string>
</dict>
</plist>